<tr data-task-id="<%= task.id %>">
	<td>
		<span class="task-description"><%= task.description %></span>
	</td>
	<td>
		<span class="task-sp"><%= task.sp %></span>
	</td>
	<td>
		<span class="task-bvp"><%= task.bvp %></span>
	</td>
	<td>
		<span class="task-pr">
			<% if task.bvp && task.bvp > 0 && task.sp && task.sp > 0 %>
				<%= "%.2f" % (task.bvp / task.sp) %>
			<% end %>
		</span>
	</td>
	<td><%= task.hour_estimate %></td>
	<td>
		<input type="text" class="task-hours-complete" value="<%= task.hours_complete %>" />
	</td>
	<% if !task.task_stages.empty? %>
		<% task.task_stages.each do |stage| %>
			<%= render :partial => 'sprints/stage', :locals => { :stage => stage } %>
		<% end %>
	<% end %>
	<td class="row-actions-cell">
		<div class="row-actions btn-group-vertical" data-toggle="buttons-radio">
			<a href="#" class="btn btn-warning edit-row-button" data-task-id="<%= task.id %>">
				<i class="icon-white icon-edit"></i>
			</a>

			<a href="#" class="btn btn-danger remove-from-sprint" data-task-id="<%= task.id %>">
				<i class="icon-white icon-remove"></i>
			</a>
		</div>
	</td>
</tr>

