  <td>
  	<%= form_for(@task) do |f| %>
    <%= f.text_area :description, :cols => "30", :rows => "10" %>
  </td>
  <td>
    <%= f.text_field :sp %>
  </td>
  <td>
    <%= f.text_field :bvp %>
  </td>
  <td>
    <%= f.text_field :hour_estimate %>
  </td>
  
  	<% @task_stages.each do |task_stage| %>
	  	<td>
	  		<%= check_box_tag 'stages[]', task_stage.stage.id, task_stage.required %>
  		</td>
  	<% end %>

  <td>
  	<a href="#" class="btn btn-danger pull-right cancel-row" data-task-id="<%= @task.id %>">Cancel</a>
    <a href="#" class="btn btn-primary pull-right save-row" data-task-id="<%= @task.id %>">Save</a>
  </td>
<% end %>