<h1>Task Inbox</h1>
<hr/>
<table class="table">
  <thead>
  	<tr>
	    <th>Name</th>
	    <th>Description</th>
	    <th>Added by</th>
	    <th>SP</th>
	    <th>BV</th>
	    <th>Hour Estimate</th>
	    <th></th>
  	</tr>
  </thead>

<% @tasks.each do |task| %>
  <tbody>
  	<tr>
	    <td><%= task.name %></td>
	    <td><%= task.description %></td>
	    <td><%= task.user.name %></td>
	    <td><%= task.sp %></td>
	    <td><%= task.bvp %></td>
	    <td><%= task.hour_estimate %></td>
	    <td>
	    	<% if current_user.is_manager? %>
	    		<a href="#" class="btn btn-primary add-to-backlog" data-task-id="<%= task.id %>">Add to Backlog</a>
	    	<% end %>
	    	<%= link_to(edit_task_path(task), :class => 'btn btn-warning') do %>
	    		<i class="icon-edit"></i>
	    	<% end %>
	    	<%= link_to(task, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger') do %>
	    		<i class="icon-remove"></i>
	    	<% end %>
	    </td>
  	</tr>
  </tbody>
<% end %>
</table>

<br />

<%= link_to 'New Task', new_task_path, :class => 'btn btn-primary' %>
