<h1>Backlog</h1>

<table class="table">
  <thead>
  	<tr>
	    <th>Name</th>
	    <th>Description</th>
	    <th>Added by</th>
	    <th></th>
	    <th></th>
	    <th></th>
  	</tr>
  </thead>

<% @tasks.each do |task| %>
  <tbody>
  	<tr>
	    <td><%= task.name %></td>
	    <td><%= task.description %></td>
	    <td><%= task.user.name %></td>
	    <td><%= link_to 'Show', task, :class => 'btn btn-info' %></td>
	    <td><%= link_to 'Edit', edit_task_path(task), :class => 'btn btn-warning' %></td>
	    <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %></td>
  	</tr>
  </tbody>
<% end %>
</table>

<br />

<div class="field">
	<%= collection_select(:task, :stage_id, @sprints, :id, :name, {:prompt => true}) %>
</div>

<%= link_to 'New Task', new_task_path, :class => 'btn btn-primary' %>
