<div class="row">
	<div class="span6 offset3 well">
		<p id="notice"><%= notice %></p>
		
		<p>
		  <b>Name:</b>
		  <%= @task.name %>
		</p>
		
		<p>
		  <b>Description:</b>
		  <%= @task.description %>
		</p>
		
		<p>
		  <b>User:</b>
		  <% if !@task.user.nil? %>
		  	<%= @task.user.name %>
		  <% end %>
		</p>
		
		<p>
		  <b>Stage:</b>
		  <% if !@task.stage.nil? %>
		  	<%= @task.stage.name %>
		  <% end %>
		</p>
		
		
		<%= link_to 'Edit', edit_task_path(@task) %> |
		<%= link_to 'Back', tasks_path %>
	</div>
</div>
