<% if stage.required %>
	<td class="required <%= stage.status %>">
		<div class="stages-toolbar" data-stage-id="<%= stage.id %>">
			<div class="btn-group">
			<% if stage.status == "open" %>
				<a href="#" class="btn btn-danger" data-status="open"><i class="icon-check-empty"></i></a>
				<a href="#" class="btn" data-status="started"><i class="icon-time"></i></a>
				<a href="#" class="btn" data-status="finished"><i class="icon-check"></i></a>
			<% elsif stage.status == "started" %>
				<a href="#" class="btn" data-status="open"><i class="icon-check-empty"></i></a>
				<a href="#" class="btn btn-info" data-status="started"><i class="icon-time"></i></a>
				<a href="#" class="btn" data-status="finished"><i class="icon-check"></i></a>
			<% elsif stage.status == "finished" %>
				<a href="#" class="btn" data-status="open"><i class="icon-check-empty"></i></a>
				<a href="#" class="btn" data-status="started"><i class="icon-time"></i></a>
				<a href="#" class="btn btn-success" data-status="finished"><i class="icon-check"></i></a>
			<% end %>
			</div>
		</div>
		<% already_assigned = false %>
		<div class="assigned-to">
			<div class="btn-group">
			  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
			    Assign
			    <span class="caret"></span>
			  </a>
			  <ul class="dropdown-menu">
				  <!-- dropdown menu links -->
				  <% if !already_assigned %>
					<li>
						<%= link_to "Assign to Myself", :controller => "sprints", :action => "assign_stage", :id => @sprint.id, :task_stage_id => stage.id, :user_id => current_user.id %>
					</li>
					<li class="divider"></li>
				  <% end %>
				  <%  User.find(:all, :conditions => ["id != ?", current_user.id]).each do |user|%>
					<li>
						<%= link_to user.name, :controller => "sprints", :action => "assign_stage", :id => @sprint.id, :task_stage_id => stage.id, :user_id => user.id %>
					</li>
				  <% end %>
			  </ul>
			</div>

			<% stage.assignments.each do |assignment| %>
				<% if assignment.user.id == current_user.id %>
					<% already_assigned = true %>
				<% else %>
					<% already_assigned = false %>
				<% end %>
				<p class="assigned-name"><%= assignment.user.username %>
					<%= link_to({:controller => "sprints", 
					:action => "remove_assignment", 
					:id => @sprint.id, 
					:task_stage_id => stage.id, 
					:user_id => assignment.user.id
					}, {:class => 'btn-unassign'}) do %>
						<i class="icon-remove-circle"></i>
					<% end %>
				</p>
			<% end %>
		</div>
	</td>
<% else %>
	<td class="not-required"></td>
<% end %>