<div class="row">
	<div class="span12">
		<button class="btn btn-info pull-right" data-toggle="collapse" data-target="#analytics">
		  <i class="icon-bar-chart"></i> <b class="caret"></b> Stats
		</button>
	</div>
</div>
 
<div id="analytics" class="collapse">
	<div class="row well">
		
		<div class="span6">
			<div style="font-size: 24px; margin-left:30px;">
			  <i class="icon-fire"></i> Burn down
			</div>
			<div id="burndown"></div>
		</div>
		
		<div id="span6">
			<div class="points-summary">
				<p class="lead">Target story points: <span id="target-sp"><%= @target_storypoints %></span></p>
	
				<p class="lead">Completed story points: <span id="sp-complete"><%= @completed_storypoints %></span></p>
			</div>
			<div id="percentage">
				<%= "%.0f" % (100 - ((@completed_storypoints / @target_storypoints) * 100)) %>% left
			</div>
		</div>
		
	</div>
</div>

<h1><%= @sprint.name %></h1>
<hr/>
<div class="row">
	<div class="span12">
		<table class="table table-bordered">
			<thead>
				<tr>
					<td>Description</td>
					<td>SP</td>
					<td>BVP</td>
					<td>PR</td>
					<% if !@stages.empty? %>
						<% @stages.each do |stage| %>
							<td><%= stage.name %></td>
						<% end %>
					<% end %>
					<td></td>
				</tr>
			</thead>
			<tbody>
			<% if !@sprint.tasks.empty? %>
				<% @sprint.tasks.each do |task| %>
					<%= render :partial => 'tasks/row', :locals => { :task => task } %>
				<% end %>
			<% end %>
			</tbody>
		</table>
	</div>
</div>

<a href="#" class="btn btn-primary btn-add-task">Add Task</a>

<div class="modal hide" id="edit-task-modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Edit task</h3>
  </div>
  <div class="modal-body">
    <div class="task-form">
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Cancel</a>
    <a href="#" class="btn btn-primary save-row" data-sprint-id="<%= @sprint.id %>">Save changes</a>
  </div>
</div>

<script>
	var burndown_data = <%= @burndown_data %>;
	var sprint_days = <%= @number_of_days.to_s %>;
	var target_storypoints = <%= @target_storypoints %>;
</script>