<h1><%= @sprint.name %></h1>
<hr/>
<div class="row">
	<div class="span12">
		<table class="table table-bordered">
			<thead>
				<tr>
					<td>Description</td>
					<td>SP</td>
					<td>BVP</td>
					<td>PR</td>
					<% if !@stages.empty? %>
						<% @stages.each do |stage| %>
							<td><%= stage.name %></td>
						<% end %>
					<% end %>
					<td></td>
				</tr>
			</thead>
			<tbody>
			<% if !@sprint.tasks.empty? %>
				<% @sprint.tasks.each do |task| %>
					<tr>
						<td><%= task.description %></td>
						<td><%= task.sp %></td>
						<td><%= task.bvp %></td>
						<td>
							<% if task.bvp && task.bvp > 0 && task.sp && task.sp > 0 %>
								<%= "%.2f" % (task.bvp / task.sp) %>
							<% end %>
						</td>
						<% if !task.task_stages.empty? %>
							<% task.task_stages.each do |stage| %>
								<%= render :partial => 'sprints/stage', :locals => { :stage => stage } %>
							<% end %>
						<% end %>
						<td class="row-actions-cell">
							<div class="row-actions btn-group-vertical" data-toggle="buttons-radio">
								<a href="#" class="btn btn-warning edit-row-button" data-task-id="<%= task.id %>">
									<i class="icon-white icon-edit"></i>
								</a>

								<a href="#" class="btn btn-danger remove-from-sprint" data-task-id="<%= task.id %>">
									<i class="icon-white icon-remove"></i>
								</a>
							</div>
						</td>
					</tr>
				<% end %>
			<% end %>
			</tbody>
		</table>
	</div>
</div>

<script>
	var burndown_data = <%= @burndown_data %>;
	var sprint_days = <%= @number_of_days.to_s %>;
	var target_storypoints = <%= @target_storypoints %>;
</script>

<button class="btn btn-info" data-toggle="collapse" data-target="#analytics">
  <i class="icon-bar-chart"></i> <b class="caret"></b> Stats
</button>
 
<div id="analytics" class="collapse">
	<div class="row well">
		
		<div class="span6">
			<div style="font-size: 24px; margin-left:30px;">
			  <i class="icon-fire"></i> Burn down
			</div>
			<div id="burndown"></div>
		</div>
		
		<div id="span6">
			<div class="points-summary">
				<p class="lead">Target story points: <%= @target_storypoints %></p>
	
				<p class="lead">Completed story points: <span id="sp-complete"><%= @completed_storypoints %></span></p>
			</div>
			<div id="percentage">
				<%= "%.0f" % (100 - ((@completed_storypoints / @target_storypoints) * 100)) %>% left
			</div>
		</div>
		
	</div>
</div>