<%= link_to "Nimbl", root_path, :class => 'brand' %>
<ul class="nav">
  <% if user_signed_in? %>
  	<li>
  		<%= link_to "Current Sprint", root_path %>
  	</li>
  	<li>
    	<%= link_to 'Product Backlog', '/tasks' %>
    </li>
  	<li>
    	<%= link_to 'Manage Sprints', '/sprints' %>
    </li>
    <% if current_user.has_role? :admin %>
      <li>
      	<%= link_to 'Admin', users_path %>
      </li>
    <% end %>
  <% else %>
    <li>
    	<%= link_to 'Sign up', new_user_registration_path %>
    </li>
  <% end %>
</ul>
<ul class="nav pull-right">
  <% if user_signed_in? %>
  <li class="dropdown" id="user-menu">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#user-menu">
             <%= current_user.name %>
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li><%= link_to 'Edit account', edit_user_registration_path %></li>
            <li class="divider"></li>
            <li><%= link_to 'Logout', destroy_user_session_path, :method=>'delete'%> </li>
        </ul>
    </li>
  <% else %>
    <li>
    	<%= link_to 'Login', new_user_session_path %>  
    </li>
  <% end %>
</ul>